@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sample .Net Application</title>
</head>
<body>
    <style type='text/css'>

        body {
            text-align: right;
            background-color: #144073;
        }
    </style>
    <div>

        <style>

            .container {
                position: relative;
            }

            .topright {
                position: absolute;
                top: 8px;
                right: 16px;
                font-size: 18px;
            }

            img {
                width: 100%;
                height: auto;
                opacity: 0.3;
            }
        </style>

        <img src="./header-logo.png" />



    </div>

    <h1>Sample .NET Application </h1>
    <style type='text/css'>


        h1 {
            text-align: center;
            color: white;
            
        }
    </style>
    <h2>Representing REFDOC Technical Stack </h2>
    <style type='text/css'>


        h2 {
            text-align: center;
            color: white;
         
        }p {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 5em;
  text-align: center;
  font-size:24px;
     color: white;
  margin-right: 1em;
}


    </style>

<p>TEst--This is sample .net application to demonstrate DB connection to SQL Database & Webservice call,<br/> Click on "Users" or "City Information" tabs above to test appropriate funcitonlity.</p>



</body>
</html>
