@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sample Application Container</title>
</head>
<body>
    <style type='text/css'>

        body {
            text-align: center;
            background-color: #3C3B6E;
        }
    </style>
    <div>

        <style>

            .container {
                position: center;
            }

            .topright {
                position: center;
                top: 8px;
                font-size: 18px;
            }

            img {
                width: 60%;
                height: auto;
                opacity: 0.6;
            }
        </style>

        <img src="./american-flag-on-map.png" />



    </div>

    <h1>Basic Application </h1>
    <style type='text/css'>


        h1 {
            text-align: center;
            color: white;
            
        }
    </style>
    <h2>Demonstrating connectivity to SQL Server Container in OpenShift </h2>
    <style type='text/css'>


        h2 {
            text-align: center;
            color: white;
         
        }p {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 5em;
  text-align: center;
  font-size:24px;
     color: white;
  margin-right: 1em;
}


    </style>

  <!--  <p>
         
        <br /> Click on "Database Call" or "Realtime Weather API call" tabs above to test appropriate funcitonlity.
    </p>

      -->

</body>
</html>
